extends layout

mixin ingline
	.form-group
		.col-sm-2
			label(for="inputIngredients" class="col-sm-1 control-label") Ingrediens
		.col-sm-3
			input(type="number" required class="form-control" id="inputIngredrient" name="amount" placeholder="mængde")
		.col-sm-3
			input(type="text", class="form-control", id="inputIngredrient", name="unit" placeholder="enhed")
		.col-sm-3
			input(type="text" class="form-control" id="inputIngredrient" name="type" placeholder="type")
		
		a.btn.btn-default.col-sm-1(role='button' value="Remove review"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);")
			span.glyphicon.glyphicon-trash(aria-hidden="true")
		
block content

	div(id= "readingredient" style="display: none")
		+ingline
		
	form.form-horizontal(name = 'denneform' method="post" action="/recipes/create" enctype:= 'application/json')
		.form-group
			.col-sm-2
				label(for="inputTitle" class="col-sm-1 control-label") Titel
			.col-sm-10
				input(type="text" class="form-control" id="inputTitle" placeholder="Opskriftens titel" name="recipetitle")
			.col-sm-2
				label(for="inputSn" class="col-sm-1 control-label") Serienummer
			.col-sm-10
				input(type="text" class="form-control" id="inputSn" placeholder="Opskriftens SN" name="recipesn" required)
			.col-sm-2
				label(for="inputDescription" class="col-sm-1 control-label") Beskrivelse
			.col-sm-10
				input(type="textarea" rows="3" class="form-control" id="inputDescription" placeholder="Hvad går opskriften ud på?" name="recipeinstructions")
			.col-sm-2
				label.col-sm-1.control-label(for="inputInstructions") Instruktioner
			.col-sm-10
				input.form-control(type="textarea" id="inputIns" placeholder="Hvordan gør du?" name="recipeinstructions")

		+ingline
					
		span#inserthere
			
		a.btn.btn-default.btn-primary(role='button' onclick= "addingredient()") 
			span.glyphicon.glyphicon-plus(aria-hidden="false")
			
		button#btnSumbit(type="submit", class="btn btn-default") Gem
			span.glyphicon.glyphicon-save(aria-hidden="false")

	script(type='text/javascript').
		function addingredient(){		
			var newField = document.getElementById("readingredient").cloneNode(true)
			newField.style.display = 'block' // Makes the ingredintline visible
			document.getElementById("inserthere").appendChild(newField)
		}
